header {
  display: flex;
  border: 1px solid red;
}

nav {
  border: 1px solid lime;
  direction: flex;
  flex-direction: row;
  width: 100%;
}

.nav-left {
  border: 1px solid hotpink;
  display: flex;
    flex-direction: row;
  flex: 1;
}

.nav-middle {
  border: 1px solid yellow;
  display: flex;
    flex-direction: row;
  flex: 3;
}

.nav-right {
  border: 1px solid turquoise;
  display: flex;
  flex-direction: row;
  flex: 3;
}

h1 {
  font-size: 1em;
}

.footer-info {
  display: flex;
  flex-direction: row;
}

.footer-info1,
.footer-info2,
.footer-info3,
.footer-info4,
.footer-info5 {
  flex: 1;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}