/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(137, 159, 255);
  padding: 1em 0;
}

.name {
  flex: 1;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

nav {
  flex: 2;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  font-size: 1.25em;
  color: black;
}

a:hover {
  color: white;
}



/* FOOTER */
footer {
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: rgb(137, 159, 255);
  flex: 1;
  width: 100%;
  height: 100%;
}