/* GENERAL */
html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 197, 22);
  flex: 1;
}

h1 {
  border: 1px solid black;
  flex: 1;
  text-align: center;
}

nav {
  border: 1px solid blue;
  flex: 2;
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

/* MAIN */
main {
  flex: 5;
}

/* FOOTER */
footer {
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: rgb(10, 197, 22);
  flex: 1;
  width: 100%;
  height: 100%;
}