html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4em 0;
  flex: 1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1em;
  padding: 3em;
  width: 35%;
  background-color: rgb(179, 179, 247);
  border-radius: 4px;
}

h1 {
  text-align: center;
  grid-column: 1 / -1;
}

label {
  margin-bottom: 0;
  font-size: 1.25em;
  grid-column: 1 / 4;
}

input {
  height: 1.75em;
  grid-column: 4 / 7;
  font-size: 0.9em;
}

button {
  grid-column: 2 / 6;
  height: 1.5em;
  font-size: 1.25em;
}

button:hover {
  cursor: pointer;
}

p {
  font-size: 1.25em;
  text-align: center;
  grid-column: 1 / -1;
}