html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 1em;
  display: flex;
  flex-direction: column;
  line-height: 2em;
  align-items: center;
  flex: 1;
}