:root {
  --color1: rgb(137, 159, 255);
}

/* ALL SMALLER DEVICES PORTRAIT/PHONE AND SMALL TABLET LANDSCAPE */

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
  padding: 1em 0;
  height: 1em;
}

.name {
  border: 1px solid black;
  flex: 1;
  text-align: left;
  font-size: 1.1em;
  margin-left: 1em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.name:hover {
  color: white;
}

.header-divider {
  /*border: 1px solid lime;*/
  flex: 0.4;
}

#menu {
  display: block;
  position: absolute;
  flex: 1;
  right: 1em;
  top: 0.8em;
}

#menu::before {
  content: "\02630";
  right: 0.5em;
  top: -10%;
}

#menu.show li {
  display: block;
  width: 10em;
  text-align: center;
  line-height: 2em;
  position: relative;
  top: 1em;
  right: -1em;
  background-color: var(--color1);
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  border-right: 1px solid rgb(0, 0, 0, 0.3);
  border-left: 1px solid rgb(0, 0, 0, 0.3);
}

.menu-bottom {
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}

#menu.show li:hover {
  background-color: white;
}

#menu.show li:hover > a {
  color: black;
}

#menu.show::before {
  content: "\0274C";
  right: 0.3em;
  top: 0;
}

#menu::before,
#menu.show::before {
  position: absolute;
  align-items: center;
  font-size: 1.1em;
}

nav {
  display: flex;
  flex: 1;
}

nav a {
  text-decoration: none;
  font-size: 1.25em;
  color: black;
  text-align: left;
}

nav a:hover {
  color: white;
}

.navigation {
  list-style: none;
}

.navigation li {
  display: none;
  font-size: 1em;
}


/* FOOTER */
footer {
  text-align: center;
  background-color: var(--color1);
  width: 100%;
  padding: 0.5em 0;
}


/* TABLETS */
@media (min-width: 600px) {
  .header-divider {
    /*border: 1px solid lime;*/
    flex: 1.8;
  }
}


/* SMALL LAPTOPS / LANDSCAPE TABLETS */
@media (min-width: 900px) {
  .header-divider {
    /*border: 1px solid lime;*/
    flex: 3.8;
  }
}


/* DESKTOPS */
@media (min-width: 1200px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    padding: 1em 0;
    height: 2em;
  }

  #menu::before {
    position: absolute;
    align-items: center;
    right: 0.25em;
    top: -20%;
    font-size: 2em;
  }

  #menu.show::before {
    right: 0.5em;
    top: 3%;
  }

  .header-divider {
    /*border: 1px solid lime;*/
    flex: 5.4;
  }
}


/* LARGE / WIDE SCREENS */
@media (min-width: 1536px) {
  .header-divider {
    /*border: 1px solid lime;*/
    flex: 2.35;
  }
}