:root {
  --color1: rgb(137, 159, 255);
}

/* 320 x 480 PIXELS (320 WIDTH, phone portrait) */
@media (max-width: 320px) {
  /* HEADER */
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    padding: 1em 0;
  }

  #menu {
    display: block;
    position: absolute;
    right: 1em;
    top: 2em;
  }

  #menu::before {
    content: "\02630";
  }

  #menu.show li {
    display: block;
    width: 10em;
    text-align: center;
    line-height: 2em;
    position: relative;
    top: 2em;
    right: 0;
    background-color: var(--color1);
    border: 1px solid black;
  }

  #menu.show li:hover {
    background-color: white;
  }

  #menu.show li:hover > a {
    color: black;
  }

  #menu.show::before {
    content: "\0274C";
  }

  #menu::before,
  #menu.show::before {
    position: absolute;
    align-items: center;
    right: 0.5em;
    top: 0;
  }

  nav {
    display: flex;
  }

  nav a {
    text-decoration: none;
    font-size: 1.25em;
    color: black;
    text-align: left;
  }

  nav a:hover {
    color: white;
  }

  .navigation {
    list-style: none;
  }

  .navigation li {
    display: none;
    font-size: 1em;
  }

  .name {
    flex: 1;
    text-align: left;
    font-size: 1.1em;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }

  .name:hover {
    color: white;
  }


  /* FOOTER */
  footer {
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: var(--color1);
    flex: 1;
    width: 100%;
    height: 100%;
  }
}

/* 480 x 320 PIXELS (480 WIDTH, phone landscape) */


/* 600 x 800 PIXELS (600 WIDTH, small tablet portrait) */


/* 800 x 600 PIXELS (800 WIDTH, small tabet landscape) */


/* 768 x 1024 PIXELS (768 WIDTH, tablet portrait) */


/* 1024 x 768 PIXELS (1024 WIDTH, tablet landscaoe) */

/* Computer Screen */