/* GENERAL */
html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* MAIN */
main {
  flex: 1;
  padding: 3em;
}

.my-intro {
  border: 1px solid red;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

img {
  width: 12%;
  height: auto;
  display: inline-block;
}

p:nth-child(2) {
  display: inline-block;
}