/* GENERAL */
@media screen and (max-width: 480px) {
  html,
  body {
    margin: 0;
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* MAIN */
  main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
  }

  .my-intro {
    border: 1px solid var(--color3);
    background: linear-gradient(to bottom, rgba(var(--color1-rgb), 0.2), rgba(var(--color2-rgb), 0.3));
    backdrop-filter: blur(12px);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
  }

  img {
    margin: 0 auto;
    width: 80%;
    border-radius: 6px 6px 0 0;
  }
}

/* TABLETS */
@media screen and (min-width: 600px) {
}


/* SMALL LAPTOPS / LANDSCAPE TABLETS */
@media screen and (min-width: 900px) {
}

/* DESKTOPS */
@media screen and (min-width: 1200px) {
}

/* LARGE / WIDE SCREENS */
@media screen and (min-width: 1536px) {
}