header {
  background: radial-gradient(circle at left, #41dfff 40%, #2b6cb0 90%);
  /*Positioning strictly for header*/
  position: fixed;
  width: 100%;
  height: 3em;
  z-index: 1000;
  font-family: Montserrat;
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  #menu {
    flex: 30;
  }

  .header-divider {
    display: none;
  }

  .name {
    flex: 15;
  }
}

footer {
  background: radial-gradient(#2b6cb0 90%);
  color: rgb(0, 0, 0);
}