:root {
  --grey-background1: #656565;
  --grey-background2: #1f1f1f;
  --grey-background-light: #2a2a2a;
  --trending-gradient-color: ;
  --trending-link1: #b3b3b3;
  --slider-start-gradient: hsla(0, 0%, 7%, 0.7);
  --slider-end-gradient: hsla(0, 0%, 7%, 0.7);
  --font-family: Montserrat;
  --font-weight-light: 300;
  --font-weight-medium: 600;
  --font-weight-medium-more: 700;
  --font-weight-heavy: 900;
  --main-left-background-color: #121212b3;
} 

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
  padding: 0;
  font-family: var(--font-family);
}

main {
  display: flex;
  gap: 1em;
  margin: 0.75em 0.5em;
  height: 89vh;
}

.main-left {
  flex: 1;
  background-color: var(--main-left-background-color);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.main-left-middle {
  height: 50vh;
  overflow: auto;
  scrollbar-width: none;
}

.main-left-middle:hover {
  scrollbar-width: auto;
}

.main-left-middle2 {
  display: flex;
  flex: row;
  flex-wrap: wrap;
}

.main-left-middle2 span {
  font-size: 0.75em;
  margin: 0.9em;
  font-weight: 400;
}

.main-right {
  border: 1px solid blue;
  flex: 3;
  background: linear-gradient(var(--main-right-background-color), var(--main-left-background-color) 90%);
  padding-left: 2.5em;
  padding-top: 2.5em;
  border-radius: 8px;
  overflow: auto;
  scrollbar-width: none;
}

h1 {
  font-size: 1em;
}

.trending-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  padding-left: 0.75em;
}

.trending-container {
  display: flex;
  flex-direction: column;
  background-color:grey;
  width: 12.25em;
  height: auto;
  padding: 1em 0;
  border-radius: 8px;
  margin: 0.5em 0.5em 2em 0.5em;
}

.trending-container img {
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
}

.trending-link1,
.trending-link2 {
  margin: 0 auto;
  width: 90%;
  margin-top: 0.5em;
}

.trending-link1 {
  font-size: 1em;
  font-weight: 600;
}

.trending-link2 {
  color: var(--trending-link1);
  width: 90%;
  font-size: 0.85em;
  font-weight: 500;
}

.trending-links {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.show-all {
  padding-right: 3.25em;
  color: var(--trending-link1);
}