:root {
  --grey-text: #656565;
  --grey-background: #1f1f1f;
  --grey-background-light: #2a2a2a;
  --trending-gradient-color: ;
  --trending-link1: #b3b3b3;
} 

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
  padding: 0;
}

main {
  display: flex;
  border: 1px solid blue;
}

.main-left {
  flex: 1;
}

.main-right {
  flex: 3;
}

h1 {
  font-size: 1em;
}

.trending-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trending-links {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.show-all {
  padding-right: 3.25em;
  color: var(--trending-link1);
}