header {
  display: flex;
  flex-direction: row;
  min-height: 3em;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5em;
  height: 3em;
}

.nav-left {
  display: flex;
  flex-direction: row;
  flex: 0.5;
  margin-right: 2em;
}

.nav-middle {
  display: flex;
  flex-direction: row;
  flex: 2;
  border-radius: 30px;
  background-color: var(--grey-background2);
}

.home-icon {
  border: 1px solid nlue;
  width: 100%;
}

input {
  width: 80%;
  background-color: var(--grey-background);
  font-size: 1em;
  color: white;
  border: none;
}

input::placeholder {
  color: var(--trending-link1);
}

.browse-icon {
  margin-right: 0;
}

.nav-right {
  display: flex;
  flex-direction: row;
  flex: 3;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
}

.nav-right button,
.nav-right span {
  background-color: transparent;
  color: var(--trending-link1);
  border: none;
  font-weight: 900;
}

.nav-divider {
  border: 1px solid white;
  height: 60%;
}

.suli-buttons .login-button {
  background-color: white;
  color: black;
  border-radius: 30px;
  border: none;
  font-size: 1em;
  font-weight: 600;
  padding: 1em 2em;
}

/* FOOTER */

.footer-info {
  display: flex;
  flex-direction: row;
}

.footer-info1,
.footer-info2,
.footer-info3,
.footer-info4,
.footer-info5 {
  flex: 1;
  display: flex;
  flex-direction: column;
}