:root {
  --grey-background1: #656565;
  --grey-background2: #1f1f1f;
  --grey-background-light: #2a2a2a;
  --trending-gradient-color: ;
  --trending-link1: #b3b3b3;
  --slider-start-gradient: hsla(0, 0%, 7%, 0.7);
  --slider-end-gradient: hsla(0, 0%, 7%, 0.7);
  --font-family: Montserrat;
  --font-weight-light: 300;
  --font-weight-medium: 600;
  --font-weight-medium-more: 700;
  --font-weight-heavy: 900;
  --main-left-background-color: #121212b3;
} 

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
  padding: 0;
  font-family: var(--font-family);
}

main {
  display: flex;
  gap: 1em;
}

.main-left {
  flex: 1;
  background-color: var(--main-left-background-color);
}

.main-right {
  flex: 3;
  background-color: ;
}

h1 {
  font-size: 1em;
}

.trending-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trending-container {
  display: flex;
  flex-direction: column;
  background-color:grey;
  width: 12em;
  height: auto;
  padding: 1em 0;
  border-radius: 8px;
  margin-top: 0.5em;
}

.trending-container img {
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
}

.trending-link1,
.trending-link2 {
  margin: 0 auto;
  width: 90%;
  margin-top: 0.5em;
}

.trending-link1 {
  font-size: 1em;
  font-weight: 600;
}

.trending-link2 {
  color: var(--trending-link1);
  font-size: 0.95em;
  font-weight: 500;
}

.trending-links {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.show-all {
  padding-right: 3.25em;
  color: var(--trending-link1);
}