:root {
  --grey-background1: #656565;
  --grey-background2: #1f1f1f;
  --grey-background-light: #2a2a2a;
  --trending-gradient-color: ;
  --trending-link1: #b3b3b3;
  --slider-start-gradient: hsla(0, 0%, 7%, 0.7);
  --slider-end-gradient: hsla(0, 0%, 7%, 0.7);
  --font-family: Montserrat;
  --font-weight-light: 300;
  --font-weight-medium: 600;
  --font-weight-medium-more: 700;
  --font-weight-heavy: 900;
} 

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
  padding: 0;
  font-family: var(--font-family);
}

main {
  display: flex;
}

.main-left {
  flex: 1;
}

.main-right {
  flex: 3;
}

h1 {
  font-size: 1em;
}

.trending-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trending-links {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.show-all {
  padding-right: 3.25em;
  color: var(--trending-link1);
}