header {
  display: flex;
  flex-direction: row;
  min-height: 4em;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5em;
  height: 3.5em;
}

.nav-left {
  display: flex;
  flex-direction: row;
  flex: 0.5;
  margin-right: 0.5em;
  margin-left: 0.5em;
  justify-content: space-between;
  align-items: center;
}

.nav-middle {
  display: flex;
  flex-direction: row;
  flex: 2;
  border-radius: 30px;
  background-color: var(--grey-background2);
  height: 3em;
  justify-content: space-around;
  align-items: center;
}

#spotify-logo {
  width: 2.5em;
  height: 2.5em;
}

#home-icon {
  border-radius: 50px;
  width: 3em;
  height: 3em;
}

input {
  width: 80%;
  background-color: var(--grey-background2);
  border-radius: 30px 0 0 30px;
  font-size: 1em;
  color: white;
  border: none;
}

input::placeholder {
  color: var(--trending-link1);
}

input:focus {
  outline: none;
  border-radius: 50px;
}

.browse-icon {
  margin-right: 0;
}

.nav-right {
  display: flex;
  flex-direction: row;
  flex: 3;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
}

.nav-right button,
.nav-right span {
  background-color: transparent;
  color: var(--trending-link1);
  border: none;
  font-weight: 900;
}

.nav-divider {
  border: 1px solid white;
  height: 60%;
}

.suli-buttons .login-button {
  background-color: white;
  color: black;
  border-radius: 30px;
  border: none;
  font-size: 1em;
  font-weight: 800;
  padding: 1em 2em;
}

/* FOOTER */

.footer-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1em;
  border-top: 1px solid var(--grey-background1);
  border-bottom: 1px solid var(--grey-background1);
  margin: 0em 1.25em;
  margin-left: -1.25em;
  padding: 2em 0;
}

.footer-info1,
.footer-info2,
.footer-info3,
.footer-info4 {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  line-height: 2em;
  font-weight: 500;
  flex-wrap: wrap;
  width: 10em;
}

.footer-info5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.footer-info5 div {
  padding: 0.5em 0.6em 0.4em 0.6em;
  background-color: var(--main-right-gradient-start);
  border-radius: 500px;
  margin-top: 1em;
}

.footer-info5 img {
  width: 20px;
}