header {
  display: flex;
  flex-direction: row;
  min-height: 4em;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background6);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0.5em;
  height: 3.5em;
}

.nav-left {
  display: flex;
  flex-direction: row;
  flex: 0.75;
  margin-right: 0.5em;
  margin-left: 0.5em;
  justify-content: space-around;
  align-items: center;
}

.nav-middle {
  display: flex;
  flex-direction: row;
  flex: 2;
  border-radius: 30px;
  background-color: var(--background2);
  height: 3em;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5em;
}

#spotify-logo {
  width: 2.5em;
  height: 2.5em;
}

#home-icon {
  border-radius: 50px;
  width: 3em;
  height: 3em;
}

input {
  width: 100%;
  background-color: var(--background2);
  border-radius: 30px 0 0 30px;
  font-size: 1em;
  color: white;
  border: none;
}

input::placeholder {
  color: var(--color4);
}

input:focus {
  outline: none;
  border-radius: 50px;
}

.nav-middle span {
  border-left: 1px solid var(--color4);
  height: 60%;
}

#browse-icon {
  margin-right: 0;
  background-color: var(--background5);
  border-radius: 50px;
  padding: 1em;
}

.nav-middle button {
  background-color: var(--background5);
  border: none;
}

.nav-right {
  display: flex;
  flex-direction: row;
  flex: 3;
  background-color: var(--background5);
  align-items: center;
  justify-content: space-between;
  margin-left: 8em;
}

.nav-right button,
.nav-right span {
  background-color: var(--background5);
  color: var(--color4);
  border: none;
  font-weight: var(--font-weight-heavy1);
  font-size: 1em;
}

.nav-divider span {
  border-right: 1px solid white;
  height: 100%;
}

.nav-right .install,
.suli-buttons .signup-button {
  font-size: 0.85em;
}

.nav-right .install {
  padding-right: 1em;
}

.suli-buttons .login-button {
  background-color: var(--background7);
  color: var(--color1);
  border-radius: 30px;
  border: none;
  font-size: 1em;
  font-weight: var(--font-weight-heavy1);
  padding: 0.75em 1.5em;
}

/* FOOTER */

.footer-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1em;
  border-top: 1px solid var(--background1);
  border-bottom: 1px solid var(--background1);
  margin: 0em 1.25em;
  margin-left: -1.25em;
  padding: 2em 0;
}

.footer-info1,
.footer-info2,
.footer-info3,
.footer-info4 {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  line-height: 2em;
  font-weight: var(--font-weight-medium2);
  flex-wrap: wrap;
  width: 10em;
}

.footer-info5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.footer-info5 div {
  padding: 0.5em 0.6em 0.4em 0.6em;
  background-color: var(--background2);
  border-radius: 500px;
  margin-top: 1em;
}

.footer-info5 img {
  width: 20px;
}