:root {
  --background1: #656565;
  --background2: #1f1f1f;
  --background3: #2a2a2a;
  --background4: #121212b3;
  --background5: transparent;
  --background-6: #000000;
  --background7: #ffffff;
  --main-left-background-color-rgb: rgb(31, 31, 31);
  --color1: #000000;
  --color2: #ffffff;
  --color4: #b3b3b3;
  --font-family: Montserrat;
  --font-weight-light1: 100;
  --font-weight-light2: 200;
  --font-weight-light3: 300;
  --font-weight-medium1: 400;
  --font-weight-medium2: 500;
  --font-weight-medium3: 600;
  --font-weight-heavy1: 700;
  --font-weight-heavy2: 800;
  --font-weight-heavy3: 900;
  --slider-start-gradient: hsla(0, 0%, 7%, 0.7);
  --slider-end-gradient: hsla(0, 0%, 7%, 0.7);
  --footer-gradient-start: #af2896;
  --footer-gradient-end: #509bf5;
  --decorative-subdued: #292929;
} 

* {
  box-sizing: border-box;
  font-display: swap;
}

html,
body {
  margin: 0;
  height: 100%;
  scrollbar-color: #ffffff4d;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
  padding: 0;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--color4);
}

main {
  display: grid;
  grid-template-columns: 1.4fr 2.75fr;
  column-gap: 0.5em;
  row-gap: 0;
  margin: 4.25em 0.5em 1em 0.5em;
  height: 85vh;
}

.main-left,
.main-right {
  height: 79%;
  border-radius: 8px;
}

.main-left {
  flex: 1;
  background-color: var(--background4);
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.main-left-top {
  /*border: 1px solid blue;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1em 2em 1em;
}

.main-left-top button {
  padding: 0 1.25em;
  color: white;
  background-color: var(--background2);
  border: none;
  border-radius: 50px;
  font-weight: var(--font-weight-light-heavy);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-left-top button .plus {
  font-size: 2em;
  font-weight: var(--font-weight-light1);
  color: var(--color4);
  padding-bottom: 0.15em;
}

.main-left-middle {
  height: 50vh;
  overflow: auto;
  scrollbar-width: none;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0;
  margin-top: 0;
  font-size: 1.15em;
}

.main-left-middle div {
  background-color: var(--background2);
  border-radius: 8px;
  padding: 0.75em 1.5em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0;
  font-size: 0.75em;
}

.main-left-middle h4 {
  font-size: 1.25em;
  font-weight: var(--font-weight-light-heavy);
}

.main-left-middle button {
  border-radius: 50px;
  border: none;
  padding: 0.75em 1.25em;
  align-self: flex-start;
  margin-top: 1.5em;
  font-weight: var(--font-weight-light-heavy);
}

.main-left-middle2 {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  padding: 0.25em;
  margin-bottom: 0;
}

.main-left-middle2 a {
  color: var(--color4);
}

.main-left-middle2 span {
  font-size: 0.65em;
  margin: 0.9em;
  font-weight: var(--font-weight-medium1);
}

.main-left-middle3 {
  padding: 1em;
  font-size: 0.8em;
  margin-top: -1em;
  color: var(--color2);
}

.cookies {
  color: var(--color2);
}

.main-left-bottom {
  padding: 1em;
}

.main-left-bottom button {
  border: 1px solid var(--background1);
  border-radius: 50px;
  padding: 0.5em 1em;
  font-size: 0.9em;
  font-weight: var(--font-weight-heavy1);
  background: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  justify-content: space-between;
}

.main-left-bottom img {
  width: 20px;
  margin-right: 0.5em;
}

.main-right {
  flex: 3;
  padding-left: 2.5em;
  padding-top: 2em;
  overflow: auto;
  scrollbar-width: none;
  position: relative;
  background: linear-gradient(var(--background2) 0%, var(--background4) 30%);
}

h1 {
  font-size: 1em;
}

.trending-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: var(--font-weight-heavy1);
  padding-left: 0.75em;
  margin-bottom: 1em;
}

.slider {
  display: grid;
  grid-template-columns: repeat(12, 12.25em);
  min-width: 0;
  max-width: 100vw;
  overflow: auto;
  scrollbar-width: none;
  column-gap: 0;
}

.trending-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(var(--background2) 70%, var(--main-left-background-color-rgb) 30%);/* CHECK THIS OUT*/
  width: 11em;
  height: auto;
  border-radius: 8px;
  margin: 0.5em 0.5em 2em 0.5em;
}

.trending-container:hover {
  background-color: var(--background4);
}

.trending-container img {
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
}

.trending-container .artist-image {
  border-radius: 100px;
}

.trending-link1,
.trending-link2 {
  margin: 0 auto;
  width: 90%;
  margin-top: 0.5em;
}

.trending-link1 {
  font-size: 1em;
  font-weight: var(--font-weight-medium3);
  color: white;
}

.trending-link2 {
  color: var(--color4);
  width: 90%;
  font-size: 0.85em;
  font-weight: var(--font-weight-medium2);
}

.trending-links {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.show-all {
  padding-right: 3.25em;
  color: var(--color4);
}

.spotify-copyright {
  font-size: 0.8em;
  color: var(--color4);
  margin: 3em 0;
}

aside {
  position: fixed;
  bottom: -2em;
  left: 0.5em;
  right: 0.5em;
}

.footer-bar {
  display: flex;
  flex-direction: row;
  grid-column: 1 / -1;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  height: 5em;
  background-image: linear-gradient(90deg, var(--footer-gradient-start), var(--footer-gradient-end));
  border-radius: 8px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.footer-left p {
  font-size: 0.9em;
  font-weight: var(--font-weight-heavy1);
  line-height: 1em;
}

.footer-left span {
  font-weight: var(--font-weight-medium2);
  font-size: 1.1em;
}

.footer-button {
  font-size: 1.25em;
  font-weight: var(--font-weight-medium3);
  border-radius: 50px;
  border: none;
  padding: 0.75em 1.25em;
}