header {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  min-height: 3em;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5em;
  height: 3em;
}

.nav-left {
  border: 1px solid hotpink;
  display: flex;
  flex-direction: row;
  flex: 0.5;
  margin-right: 2em;
}

.nav-middle {
  border: 1px solid yellow;
  display: flex;
  flex-direction: row;
  flex: 2;
  border-radius: 30px;
  background-color: var(--grey-background);
}

input {
  width: 80%;
  background-color: var(--grey-background);
  font-size: 1em;
  color: white;
}

input::placeholder {
  color: var(--trending-link1);
}

.browse-icon {
  margin-right: 0;
}

.nav-right {
  border: 1px solid turquoise;
  display: flex;
  flex-direction: row;
  flex: 3;
  background-color: transparent;
  align-items: center;
}

.nav-right a {
  text-decoration: none;
}

.nav-right button {
  background-color: transparent;
  color: var(--trending-link1);
}

h1 {
  font-size: 1em;
}

.footer-info {
  display: flex;
  flex-direction: row;
}

.footer-info1,
.footer-info2,
.footer-info3,
.footer-info4,
.footer-info5 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}